#viewArea {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("spot-light-background_1284-4685.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(50, 33%, 25%, 0.75);
}
.indicator {
  position: relative;
  top: 1cm;
  display: inline-block;
  height: 7vh;
  width: 100px;
  padding: 1vh;
  text-align: center;
  background-color: antiquewhite;
}
.row {
  position: relative;
  display: flex;
}
.container {
  height: 100vh;
  width: 50vw;
  margin-left: 30vw;
}
h1 {
  margin: auto;
  font-family: Georgia;
  width: auto;
  font-size: 50px;
}
.button {
  height: 100px;
  width: 100px;
  border: 1px solid lightsalmon;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-weight: bolder;
  background-color: aqua;
  cursor: pointer;
  display: inline-block;
}
p {
  position: relative;
  font-family: Georgia;
  font-size: 50px;
  display: none;
}
.reset {
  display: block;
  height: 7vh;
  font-size: larger;
}
